<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.koris.yamba"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="hr.koris.yamba.TIMELINE_TRANSCEIVER" />
    <permission android:name="hr.koris.yamba.TIMELINE_TRANSCEIVER"
                android:label="@string/timelineTransceiverLabel"
                android:description="@string/timelineTransceiverDescription"
                android:permissionGroup="android.permission-group.PERSONAL_INFO"
                android:protectionLevel="normal" />
    <!--
    <permission android:name="hr.koris.yamba.SEND_TIMELINE_NOTIFICATIONS"
                android:label="@string/sendTimelineNotificationsLabel"
                android:description="@string/sendTimelineNotificationsDescription"
                android:permissionGroup="android.permission-group.PERSONAL-INFO"
                android:protectionLevel="normal" />
    <permission android:name="hr.koris.yamba.RECEIVE_TIMELINE_NOTIFICATIONS"
                android:label="@string/receiveTimelineNotificationsLabel"
                android:description="@string/receiveTimelineNotificationsDescription"
                android:permissionGroup="android.permission-group.PERSONAL-INFO"
                android:protectionLevel="normal" />
    <uses-permission android:name="hr.koris.yamba.SEND_TIMELINE_NOTIFICATIONS" />
    <uses-permission android:name="hr.koris.yamba.RECEIVE_TIMELINE_NOTIFICATIONS" />
    -->
    <application
        android:name="hr.koris.yamba.YambaApplication"
        android:allowBackup="true"
        android:icon="@drawable/yamba_icon"
        android:label="@string/appName" >
        <activity android:name=".TimelineActivity" android:label="@string/appName"
                  android:permission="hr.koris.yamba.TIMELINE_TRANSCEIVER">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StatusActivity" android:label="@string/status" />
        <activity android:name=".SettingsActivity" android:label="@string/settings"/>
        <activity android:name=".BaseActivity" />
        <!-- Za razliku od Gargentine knjige, čini se da android:permission u kasnijim SDK-ovima
             treba biti dodan u manifestu uz odgovarajuće aktivnosti i(li) servise -->
        <service android:name=".UpdaterService"
                 android:permission="hr.koris.yamba.TIMELINE_TRANSCEIVER" />
        <service android:name=".RefreshService"
                 android:permission="hr.koris.yamba.TIMELINE_TRANSCEIVER"/>
        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".YambaWidget" android:label="@string/yambaWidgetTitle">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="hr.koris.yamba.NEW_TWEETS" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/yamba_widget_info" />
        </receiver>
        <provider android:name=".StatusProvider"
                  android:authorities="hr.koris.yamba.StatusProvider" />
    </application>
</manifest>
